
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap');

html {
    font-family: 'Ysabeau', sans-serif;
}


body {
    margin:0;
    padding:0;

}

main {
    padding: 16px;
    background-color: #FFD080;
    color: green
}

footer {
    padding: 24px 0px;


}

img {

    height: 200px;

}

nav {

    border-bottom: 3px solid rgb(238, 184, 176);
    padding:16px;
    text-shadow: 5px 5px 1px goldenrod;
    background-color: #fbeee6;

}

h1 {

    font-size: xx-large;
    color: #7c677f;

}

.display-colors {
    display: grid;
    background-color: #FFD080;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* width: auto */

}

.topbar-color {
    display:grid;




}

#bottombar {
    display:grid;
    background-color: #f9e79f;
    padding: 30px;
    font-size: larger;
    text-shadow: 5px 5px 1px goldenrod

}

#linkmain {
    color: #ff0028;

}

#link1{
    color:#4a5049;
    text-shadow: 5px 5px 1px rgb(249, 249, 248)

}



tr:nth-child(even){
    background-color:orange;

}



